%table
  %tr
    %th Id
    - @class.search_columns.each do |col|
      %th= col
  - @objs.each do |obj|
    %tr
      %td
        %a.show-link{:href => "/show/#{@class.name}/#{obj.id}"}= obj.id
      - @class.search_columns.each do |col|
        %td= obj.send(col)
