%table
  %tr
    %th Id
    - @klass.display_atts.each do |col|
      %th= col
  - @objs.each do |obj|
    %tr
      %td
        %a{:class => "object-link", :href => "/show/#{@klass.name}/#{obj.id}"}= obj.id
      - @klass.display_atts.each do |col|
        %td= obj.send(col)
:javascript
  ajax_links();
